body {
  height:100%;
  width:100%;
  background-color:rgb(240, 240, 238);
  display:flex;
  flex-direction:column;
}

@font-face { font-family: Consolas; src: url('./assets/Consolas.ttf'); } 

html * {
  font-family:Consolas, Arial, Helvetica, sans-serif;
}

.logo {
  width:10%;
  height:10%;
  align-self:center;
  margin-top:1%;
  margin-bottom:1%;
}

#img-gitbranch {
  width:70%;
  height: 20%;
  align-self:center;
  margin-top: 3%; 
}

.img-collab {
  height: 30%;
  width: 30%;
  align-self:center;
  margin-top: 5%; 
}

#title {
  margin-bottom:2%;
}

#main-content-container {
  display:flex;
  flex-direction:column;
  width: 50%;
  align-self: center;
}

.information-text {
  margin-top:5%;
  margin-bottom:5%;
  text-align:justify;
  font-size:large;
}

.uses {
  text-align:left;
}

.subtitle {
  text-decoration:underline;
  margin:auto;
  text-align:center;
}

#uses-div {
  display:flex;
  flex-direction:column;
}

.code {
  margin-left:0;
  display:flex;
  text-align:left;
  color:rgb(226, 226, 226);
  background-color:rgb(80, 78, 78);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left:1%;
  width:70%;
  border:2px solid rgb(220, 220, 220);
}

h1 {
  margin:auto;
  text-align:center;
}

ul {
  margin:0;
  margin-top:2%;
}